<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Press+Start+2P")
        link(rel="stylesheet", href="css/stylesheet.css")
        title Contact | Canipture!
    body
        include includes/header
        include includes/background
        .contact-text
            h1 ▻ Contact
            p ご連絡はTwitter(<a href='https://twitter.com/cany_squid'>@cany_squid</a>)までどうぞ。